<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Empresas">
      <section name="ramos" type="WSAdminPaqWrapper.Config.EnterpriseSection, WSAdminPaqWrapper" allowLocation="true" allowDefinition="Everywhere" />
      <section name="chilisa" type="WSAdminPaqWrapper.Config.EnterpriseSection, WSAdminPaqWrapper" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <Empresas>
    <ramos
    NombreEmpresa="Ramos Hermanos Internacional SPR de RL de CV"
    ConceptosVenta="2117,2118,2119,2120"
    ConceptosDevolucion="2109,2110" />

    <chilisa
      NombreEmpresa="Distribuidora Chilisa S de RL de CV 2014"
      ConceptosVenta="2117,2118,2119,2120"
      ConceptosDevolucion="2109,2110" />
  </Empresas>
  
  <connectionStrings>
    <add name="wapw.connstr.monfoll" connectionString="Server=localhost;Port=5432;User Id=monfoll;Password=monfoll;Database=monfoll" />
    <add name="wapw.connstr.jasper" connectionString="Server=localhost;Port=5432;User Id=rhjasper;Password=rhjasper;Database=rhjasper" />
  </connectionStrings>
  <appSettings>
    <add key="empresa1" value="ramos"/>
    <add key="empresa2" value="chilisa"/>
  </appSettings>
  
  
</configuration>